* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
  font-family: $font-family-title;
}

h1 {
  font-family: $font-family-title;
  font-weight: bold;
}

.sub-title {
  font-family: $font-family-title;
  font-weight: bold;
  color: gray;
}

.rainbow-box {
  @include rainbow-bar(gray, #b827fc, #2c90fc, #b8fd33, #fec837, #fd1892);
  /* margin: 20px auto; */
  width: 100%;
}

.rainbow {
  width: 100%;
}

.btn {
  border-width: 2px;
}

.bg-cover {
  background-size: cover;
  background-position: center center;
}

@media (min-width: 768px) {
  .text-md-dark {
    color: #333;
  }
}

.navbar {
  padding: 0px !important;
}

.nav-item {
  padding: 15px 5px;
  margin: 0 10px;
}

.nav-link {
  color: gray !important;
  font-weight: bold;
  font-size: 18px;
  font-family: $font-family-title;

  /* transition-duration: .8s; */
}

.nav-item:hover .nav-link:hover {
  color: black !important;
  font-weight: bold;
}

.nav-item::after {
  content: "";
  border-bottom: 2px solid black;
  margin: auto;
  position: relative;
  width: 0%;
  display: block;
  transition: all 0.2s;
}

.nav-item:hover::after {
  width: 100%;
}

.test {
  border: 1px solid red;
  // padding: 100px;
}

.font-title {
  font-family: 'Gentium Book Basic',
    serif;
  font-size: 80px;
}

.banner::after {
  content: "";
  border-bottom: 2px solid gray;
  display: block;
  padding-bottom: 25px;
}

.content-header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  // border: 1px solid red;
  width: 100%;

  @include l-mobile {
    font-size: 10px;
  }

  h4 {
    @include mobile {
      font-size: 18px;

    }
  }

}

.banner-time-content {
  @include l-mobile {
    flex-direction: column;
  }

  @include mobile {
    font-size: 18px;
    flex-direction: column;

  }
}


.row-sampleRun {
  font-size: 14px;
  width: 100%;
  // border: 1px solid gray !important;


  @include l-mobile {
    border: 1px solid gray !important;
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
    margin-left: 0.1rem !important;
    border-radius: 8px;
    padding-bottom: 0.5rem;
  }

  @include mobile {
    border: 1px solid gray !important;
    border-radius: 8px;

    margin-top: 0.6rem !important;
    margin-bottom: 0.6rem !important;
    margin-left: 0.1rem !important;
    padding-bottom: 0.5rem;
    // margin-right: 0.5rem !important;
  }

}

.content-info,
.content-header {
  @include mobile {
    margin-left: 0.1rem !important;
    // border: 1px solid gray !important;

    // margin-right: 0.5rem !important;
  }

  @include l-mobile {
    margin-left: 0.1rem !important;

  }
}

.content-info {

  @include mobile {
    border: 3px solid green !important;
    border-radius: 8px;
    // border: 1px solid gray !important;

    // margin-right: 0.5rem !important;
  }

  @include l-mobile {
    border: 3px solid green !important;
    border-radius: 8px;

  }
}

.content-header-info {
  display: flex;

  .arrow-container {
    display: flex;
    float: left;
    // right: 30px;

    .header-sofiva,
    .header-cloud {
      text-align: center;
      font-weight: bold;
      font-size: 30px;
      // border: 1px solid blue;
      // margin: 0 auto;
    }

    // border: 1px solid blue;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

#content-header-time,
.duration-time {
  @include l-mobile {
    justify-content: flex-end !important;
  }

  @include mobile {
    justify-content: flex-end !important;
  }
}

.card-body {
  // display: inline !important;
  flex-direction: row;
}

// Mixins

// creates the triangle appended to the rectangles in the progress bar
@mixin arrow() {
  border-bottom: 50px solid transparent;
  border-top: 50px solid transparent;
  content: " ";
  display: block;
  height: 0;
  left: 100%;
  margin-top: -50px;
  position: absolute;
  top: 50%;
  width: 0;
}

.content-header-info-list {
  -webkit-filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
  list-style: none;
  overflow: hidden; // necessary to cut off top and bottom parts of triangles
  font: 20px Helvetica;
  font-weight: 600;
  display: flex;
  width: 100%;

  li {
    text-align: center;
  }

  &__steps {
    background: #ddd;
    color: #666;
    width: 100%;
    position: relative;
    cursor: default;

    // padding: 20px 5px;
    text-align: center;

    @media screen and (min-width: 800px) {
      padding: 20px 0 20px 65px; // create padding-left to position text
      text-align: left;
    }

    @media screen and (min-width: 800px) {
      padding: 15px 0 15px 30px;
    }

    // appended triangle
    &:after {
      @media screen and (min-width: 800px) {
        @include arrow();
        border-left: 30px solid #ddd;
        z-index: 2;
      }
    }

    // prepend triangle cutout to create separation border
    &:before {
      @media screen and (min-width: 800px) {
        @include arrow();
        border-left: 30px solid #fff;
        z-index: 1;
        margin-left: 5px;
      }
    }

    .content-header-info-list__steps-sofiva,
    .content-header-info-list__steps-cloud {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      &:before {
        display: inline-block;
        width: 46px;
        height: 46px;
        padding-right: 60px;
        content: "";
      }
    }

    .content-header-info-list__steps-sofiva {
      &:before {
        background-image: url("../images/SOFIVA.png");
        background-repeat: no-repeat;
        background-size: 46px 46px;
      }
    }

    .content-header-info-list__steps-cloud {
      &:before {
        background-image: url("../images/cloud.png");
        background-repeat: no-repeat;
        background-size: 38px 46px;
        padding-right: 46px;
      }
    }
  }

  .current {
    background: #58b2dc;
    color: #fff;

    &:after {
      border-left: 30px solid #647d5e;
    }
  }
}

.first-info {
  width: 70%;
}

.content-icon-item {
  height: 32px;
  width: 32px;
  color: gray !important;
  // border: 1px solid gray;
}

.content-icon-progress {
  width: 100% / ($step-count - 1);
  height: 32px;
  display: block;
  // border: 1px solid gray;
}

/*=============================================
=     Step Bar Progress Bar for Bootstrap.    =
=============================================*/

@keyframes active-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.glyphicon,
.glyphicon-step1,
.glyphicon-step2,
.glyphicon-step3,
.glyphicon-step4,
.glyphicon-step5,
.glyphicon-step6,
.glyphicon-step7,
.glyphicon-step8,
.glyphicon-step9 {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: block;
}

.glyphicon-step1:before {
  font-size: 32px;
  content: map-get($content-icon-glyph, "step1");
}

.glyphicon-step2:before {
  font-size: 32px;
  content: map-get($content-icon-glyph, "step2");
}

.glyphicon-step3:before {
  font-size: 32px;
  content: map-get($content-icon-glyph, "step3");
}

.glyphicon-step4:before {
  font-size: 32px;
  content: map-get($content-icon-glyph, "step4");
}

.glyphicon-step5:before {
  font-size: 32px;
  content: map-get($content-icon-glyph, "step5");
}

.glyphicon-step6:before {
  font-size: 32px;
  content: map-get($content-icon-glyph, "step6");
}

.glyphicon-step7:before {
  font-size: 32px;
  content: map-get($content-icon-glyph, "step7");
}

.glyphicon-step8:before {
  font-size: 32px;
  content: map-get($content-icon-glyph, "step8");
}

.glyphicon-step9:before {
  font-size: 32px;
  content: map-get($content-icon-glyph, "step9");
}

td {
  text-align: center;
}

.stepbar-progress {
  width: 100%;
  height: 32px;
  border-collapse: collapse;
  text-align: center;
  vertical-align: middle;
  // display: flex;
  // justify-content: space-evenly;
  // align-items: center;

  .step-item {
    width: 32px;
    vertical-align: middle;

    .step-body {
      position: relative;
      display: block;
      width: 32px;
      height: 32px;
      background-color: $light_gray;
      border: 5px solid $light_gray;
      border-radius: 50%;
      cursor: pointer;
      // padding: 0px 0px 10px 0px;

      .glyphicon:before {
        color: white;
        margin: auto 4px 0 4px;
        line-height: 20px;
      }
    }
  }

  .step-item-progress {
    width: 100% / ($step-count - 1);
    height: 32px;
    // verticle-align: middle;
    vertical-align: middle;

    .progress-body {
      display: block;
      height: 11px;
      background-color: $light_gray;
      border-top: 3px solid $light_gray;
      border-bottom: 3px solid $light_gray;

      background-image: -webkit-linear-gradient(-45deg,
          rgba(255, 255, 255, 0.3) 0%,
          transparent 5%,
          rgba(255, 255, 255, 0.3) 10%,
          transparent 15%,
          rgba(255, 255, 255, 0.3) 20%,
          transparent 25%,
          rgba(255, 255, 255, 0.3) 30%,
          transparent 35%,
          rgba(255, 255, 255, 0.3) 40%,
          transparent 45%,
          rgba(255, 255, 255, 0.3) 50%,
          transparent 55%,
          rgba(255, 255, 255, 0.3) 60%,
          transparent 65%,
          rgba(255, 255, 255, 0.3) 70%,
          transparent 75%,
          rgba(255, 255, 255, 0.3) 80%,
          transparent 85%,
          rgba(255, 255, 255, 0.3) 90%,
          transparent 95%,
          rgba(255, 255, 255, 0.3) 100%);

      background-image: -moz-linear-gradient(-45deg,
          rgba(255, 255, 255, 0.3) 0%,
          transparent 5%,
          rgba(255, 255, 255, 0.3) 10%,
          transparent 15%,
          rgba(255, 255, 255, 0.3) 20%,
          transparent 25%,
          rgba(255, 255, 255, 0.3) 30%,
          transparent 35%,
          rgba(255, 255, 255, 0.3) 40%,
          transparent 45%,
          rgba(255, 255, 255, 0.3) 50%,
          transparent 55%,
          rgba(255, 255, 255, 0.3) 60%,
          transparent 65%,
          rgba(255, 255, 255, 0.3) 70%,
          transparent 75%,
          rgba(255, 255, 255, 0.3) 80%,
          transparent 85%,
          rgba(255, 255, 255, 0.3) 90%,
          transparent 95%,
          rgba(255, 255, 255, 0.3) 100%);

      background-image: -ms-linear-gradient(-45deg,
          rgba(255, 255, 255, 0.3) 0%,
          transparent 5%,
          rgba(255, 255, 255, 0.3) 10%,
          transparent 15%,
          rgba(255, 255, 255, 0.3) 20%,
          transparent 25%,
          rgba(255, 255, 255, 0.3) 30%,
          transparent 35%,
          rgba(255, 255, 255, 0.3) 40%,
          transparent 45%,
          rgba(255, 255, 255, 0.3) 50%,
          transparent 55%,
          rgba(255, 255, 255, 0.3) 60%,
          transparent 65%,
          rgba(255, 255, 255, 0.3) 70%,
          transparent 75%,
          rgba(255, 255, 255, 0.3) 80%,
          transparent 85%,
          rgba(255, 255, 255, 0.3) 90%,
          transparent 95%,
          rgba(255, 255, 255, 0.3) 100%);

      background-image: -o-linear-gradient(-45deg,
          rgba(255, 255, 255, 0.3) 0%,
          transparent 5%,
          rgba(255, 255, 255, 0.3) 10%,
          transparent 15%,
          rgba(255, 255, 255, 0.3) 20%,
          transparent 25%,
          rgba(255, 255, 255, 0.3) 30%,
          transparent 35%,
          rgba(255, 255, 255, 0.3) 40%,
          transparent 45%,
          rgba(255, 255, 255, 0.3) 50%,
          transparent 55%,
          rgba(255, 255, 255, 0.3) 60%,
          transparent 65%,
          rgba(255, 255, 255, 0.3) 70%,
          transparent 75%,
          rgba(255, 255, 255, 0.3) 80%,
          transparent 85%,
          rgba(255, 255, 255, 0.3) 90%,
          transparent 95%,
          rgba(255, 255, 255, 0.3) 100%);

      background-image: linear-gradient(-45deg,
          rgba(255, 255, 255, 0.3) 0%,
          transparent 5%,
          rgba(255, 255, 255, 0.3) 10%,
          transparent 15%,
          rgba(255, 255, 255, 0.3) 20%,
          transparent 25%,
          rgba(255, 255, 255, 0.3) 30%,
          transparent 35%,
          rgba(255, 255, 255, 0.3) 40%,
          transparent 45%,
          rgba(255, 255, 255, 0.3) 50%,
          transparent 55%,
          rgba(255, 255, 255, 0.3) 60%,
          transparent 65%,
          rgba(255, 255, 255, 0.3) 70%,
          transparent 75%,
          rgba(255, 255, 255, 0.3) 80%,
          transparent 85%,
          rgba(255, 255, 255, 0.3) 90%,
          transparent 95%,
          rgba(255, 255, 255, 0.3) 100%);

      transition: all 1s ease;

      .body-fill {
        width: 20px;
        height: 5px;
        background-color: #1ab394;
      }
    }
  }

  .step-item-first .step-body:after,
  .step-item-middle .step-body:after,
  .step-item-middle .step-body:before,
  .step-item-last .step-body:before {
    content: "";
    position: absolute;
    top: calc(50% - 6px);
    height: 11px;
    width: 6px;
    background-color: $light_gray;
    border-top: 3px solid $light_gray;
    border-bottom: 3px solid $light_gray;
  }

  .step-item-first,
  .step-item-middle {
    .step-body:after {
      left: 100%;
    }
  }

  .step-item-middle,
  .step-item-last {
    .step-body:before {
      right: 100%;
    }
  }
}

.stepbar-progress {

  /* Individual Steps */
  @each $state in $step-states {
    $animate-glyphicon: $state=="active";
    $state-pass-glyph: map-get($state-to-glyph, "pass");
    $current-state-color: map-get($state-to-color, $state);
    $current-state-glyph: map-get($state-to-glyph, $state);

    // Upto step 1
    &[data-current-step="sequenced"][data-step-status="#{$state}"] {
      @include step-status("sequenced",
        $current-state-color,
        $current-state-glyph,
        $animate-glyphicon,
        true);
    }

    // Upto step 2
    &[data-current-step="analyzed"][data-step-status="#{$state}"] {
      @include step-status("sequenced", $current-state-color, $state-pass-glyph);
      @include step-status("analyzed",
        $current-state-color,
        $current-state-glyph,
        $animate-glyphicon,
        true);
      @include fill-step-progress("sequenced", "analyzed", $current-state-color);
    }

    // Upto step 3
    &[data-current-step="ondell"][data-step-status="#{$state}"] {
      @include step-status("sequenced", $current-state-color, $state-pass-glyph);
      @include step-status("analyzed", $current-state-color, $state-pass-glyph);
      @include step-status("ondell",
        $current-state-color,
        $current-state-glyph,
        $animate-glyphicon,
        true);
      @include fill-step-progress("sequenced", "analyzed", $current-state-color);
      @include fill-step-progress("analyzed", "ondell", $current-state-color);
    }

    &[data-current-step="converted"][data-step-status="#{$state}"] {
      @include step-status("sequenced", $current-state-color, $state-pass-glyph);
      @include step-status("analyzed", $current-state-color, $state-pass-glyph);
      @include step-status("ondell", $current-state-color, $state-pass-glyph);
      @include step-status("converted",
        $current-state-color,
        $current-state-glyph,
        $animate-glyphicon,
        true);
      @include fill-step-progress("sequenced", "analyzed", $current-state-color);
      @include fill-step-progress("analyzed", "ondell", $current-state-color);
      @include fill-step-progress("ondell", "converted", $current-state-color);
    }

    &[data-current-step="incloud"][data-step-status="#{$state}"] {
      @include step-status("sequenced", $current-state-color, $state-pass-glyph);
      @include step-status("analyzed", $current-state-color, $state-pass-glyph);
      @include step-status("ondell", $current-state-color, $state-pass-glyph);
      @include step-status("converted", $current-state-color, $state-pass-glyph);
      @include step-status("incloud",
        $current-state-color,
        $current-state-glyph,
        $animate-glyphicon,
        true);
      @include fill-step-progress("sequenced", "analyzed", $current-state-color);
      @include fill-step-progress("analyzed", "ondell", $current-state-color);
      @include fill-step-progress("ondell", "converted", $current-state-color);
      @include fill-step-progress("converted", "incloud", $current-state-color);
    }

    &[data-current-step="downloaded"][data-step-status="#{$state}"] {
      @include step-status("sequenced", $current-state-color, $state-pass-glyph);
      @include step-status("analyzed", $current-state-color, $state-pass-glyph);
      @include step-status("ondell", $current-state-color, $state-pass-glyph);
      @include step-status("converted", $current-state-color, $state-pass-glyph);
      @include step-status("incloud", $current-state-color, $state-pass-glyph);
      @include step-status("downloaded",
        $current-state-color,
        $current-state-glyph,
        $animate-glyphicon,
        true);
      @include fill-step-progress("sequenced", "analyzed", $current-state-color);
      @include fill-step-progress("analyzed", "ondell", $current-state-color);
      @include fill-step-progress("ondell", "converted", $current-state-color);
      @include fill-step-progress("converted", "incloud", $current-state-color);
      @include fill-step-progress("incloud", "downloaded", $current-state-color);
    }

    &[data-current-step="jobsubmitted"][data-step-status="#{$state}"] {
      @include step-status("sequenced", $current-state-color, $state-pass-glyph);
      @include step-status("analyzed", $current-state-color, $state-pass-glyph);
      @include step-status("ondell", $current-state-color, $state-pass-glyph);
      @include step-status("converted", $current-state-color, $state-pass-glyph);
      @include step-status("incloud", $current-state-color, $state-pass-glyph);
      @include step-status("downloaded", $current-state-color, $state-pass-glyph);
      @include step-status("jobsubmitted",
        $current-state-color,
        $current-state-glyph,
        $animate-glyphicon,
        true);
      @include fill-step-progress("sequenced", "analyzed", $current-state-color);
      @include fill-step-progress("analyzed", "ondell", $current-state-color);
      @include fill-step-progress("ondell", "converted", $current-state-color);
      @include fill-step-progress("converted", "incloud", $current-state-color);
      @include fill-step-progress("incloud", "downloaded", $current-state-color);
      @include fill-step-progress("downloaded", "jobsubmitted", $current-state-color);
    }

    &[data-current-step="jobcompleted"][data-step-status="#{$state}"] {
      @include step-status("sequenced", $current-state-color, $state-pass-glyph);
      @include step-status("analyzed", $current-state-color, $state-pass-glyph);
      @include step-status("ondell", $current-state-color, $state-pass-glyph);
      @include step-status("converted", $current-state-color, $state-pass-glyph);
      @include step-status("incloud", $current-state-color, $state-pass-glyph);
      @include step-status("downloaded", $current-state-color, $state-pass-glyph);
      @include step-status("jobsubmitted", $current-state-color, $state-pass-glyph);
      @include step-status("jobcompleted",
        $current-state-color,
        $current-state-glyph,
        $animate-glyphicon,
        true);
      @include fill-step-progress("sequenced", "analyzed", $current-state-color);
      @include fill-step-progress("analyzed", "ondell", $current-state-color);
      @include fill-step-progress("ondell", "converted", $current-state-color);
      @include fill-step-progress("converted", "incloud", $current-state-color);
      @include fill-step-progress("incloud", "downloaded", $current-state-color);
      @include fill-step-progress("downloaded", "jobsubmitted", $current-state-color);
      @include fill-step-progress("jobsubmitted", "jobcompleted", $current-state-color);
    }

    &[data-current-step="backtodell"][data-step-status="#{$state}"] {
      @include step-status("sequenced", $current-state-color, $state-pass-glyph);
      @include step-status("analyzed", $current-state-color, $state-pass-glyph);
      @include step-status("ondell", $current-state-color, $state-pass-glyph);
      @include step-status("converted", $current-state-color, $state-pass-glyph);
      @include step-status("incloud", $current-state-color, $state-pass-glyph);
      @include step-status("downloaded", $current-state-color, $state-pass-glyph);
      @include step-status("jobsubmitted", $current-state-color, $state-pass-glyph);
      @include step-status("jobcompleted", $current-state-color, $state-pass-glyph);
      @include step-status("backtodell",
        $current-state-color,
        $current-state-glyph,
        $animate-glyphicon,
        true);
      @include fill-step-progress("sequenced", "analyzed", $current-state-color);
      @include fill-step-progress("analyzed", "ondell", $current-state-color);
      @include fill-step-progress("ondell", "converted", $current-state-color);
      @include fill-step-progress("converted", "incloud", $current-state-color);
      @include fill-step-progress("incloud", "downloaded", $current-state-color);
      @include fill-step-progress("downloaded", "jobsubmitted", $current-state-color);
      @include fill-step-progress("jobsubmitted", "jobcompleted", $current-state-color);
      @include fill-step-progress("jobcompleted", "backtodell", $current-state-color);
    }
  }
}