* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


body,
html {
    height: 100%;
    width: 100%;
    font-family: $font-family-title;
}

h1 {
    font-family: $font-family-title;
    font-weight: bold;
}

h2 {
    font-family: $font-family-title;
    font-weight: bold;
    color: gray;
}

.rainbow-box {
    @include rainbow-bar(gray, #b827fc, #2c90fc, #b8fd33, #fec837, #fd1892);
    /* margin: 20px auto; */
    width: 100%;
}

.rainbow {
    width: 100%;
}

.btn {
    border-width: 2px;
}

.bg-cover {
    background-size: cover;
    background-position: center center;
}

@media (min-width: 768px) {
    .text-md-dark {
        color: #333;
    }
}

.nav-item {
    padding: 15px 5px;
    margin: 0 10px;
}

.nav-link {
    color: gray !important;
    font-weight: bold;
    font-size: 18px;
    font-family: $font-family-title;

    /* transition-duration: .8s; */
}

.nav-item:hover .nav-link:hover {
    color: black !important;
    font-weight: bold;
}

.nav-item::after {
    content: "";
    border-bottom: 2px solid black;
    margin: auto;
    position: relative;
    width: 0%;
    display: block;
    transition: all .2s;
}

.nav-item:hover::after {
    width: 100%;
}

.test {
    border: 1px solid red;
    // padding: 100px;
}

.banner::after {
    content: "";
    border-bottom: 2px solid gray;
    display: block;
    padding-bottom: 25px;
}

.row-sampleRun {
    font-size: 14px;
}

.content-header-info {
    display: flex;

    .arrow-container {
        display: flex;
        float: left;
        // right: 30px;

        .header-sofiva,
        .header-cloud {
            text-align: center;
            font-weight: bold;
            font-size: 30px;
            // border: 1px solid blue;
            // margin: 0 auto;
        }

        // border: 1px solid blue;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

}

.arrow-left {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 40px solid #F05E1C;
    border-bottom: 40px solid #F05E1C;
    border-left: 40px solid transparent;
    -webkit-filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7));
    filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7))
}

.arrow-ctr {
    display: inline-block;
    // width: 150px;
    background: #F05E1C;
    min-height: 80px;
    line-height: 80px;
    position: relative;
    text-align: center;
    width: 100%;
    font-weight: bold;
    font-size: 25px;
    -webkit-filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7));
    filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7))
}

.arrow-right {
    display: inline-block;
    height: 0;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-left: 40px solid #F05E1C;
    // position: relative;
    -webkit-filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7));
    filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7))
}

.arrow-right-end {
    border: 40px solid #F05E1C;
    border-top-right-radius: 20%;
    border-bottom-right-radius: 20%;
    -webkit-filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7));
    filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7))
}



@keyframes myanimation {
    from {
        left: 0%;
    }

    to {
        left: 50%;
    }
}

.checkout-wrap {
    color: #444;
    font-family: 'PT Sans Caption', sans-serif;
    margin: 0px auto;
    // max-width: 1200px;
    position: relative;
    width: 100%;
}

ul.checkout-bar {
    margin: 0 auto;

    li {
        color: #ccc;
        display: block;
        font-size: 16px;
        font-weight: 600;
        // padding: 14px 20px 14px 80px;
        position: relative;

        &:before {
            @include inner-shadow;
            background: #ddd;
            border: 2px solid #FFF;
            border-radius: 50%;
            color: #fff;
            font-size: 16px;
            font-weight: 700;
            // left: 20px;
            line-height: 37px;
            height: 35px;
            position: absolute;
            text-align: center;
            text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
            top: 4px;
            // width: 35px;
            z-index: 999;
        }

        &.active {
            color: #8bc53f;
            font-weight: bold;

            &:before {
                background: #8bc53f;
                z-index: 99999;
            }
        }

        &.visited {
            background: #ECECEC;
            color: #57aed1;
            z-index: 99999;

            &:before {
                background: #57aed1;
                z-index: 99999;
            }
        }

        &:nth-child(1) {
            &:before {
                content: "1";
            }
        }

        &:nth-child(2) {
            &:before {
                content: "2";
            }
        }

        &:nth-child(3) {
            &:before {
                content: "3";
            }
        }

        &:nth-child(4) {
            &:before {
                content: "4";
            }
        }

        &:nth-child(5) {
            &:before {
                content: "5";
            }
        }

        &:nth-child(6) {
            &:before {
                content: "6";
            }
        }

        &:nth-child(7) {
            &:before {
                content: "7";
            }
        }

        &:nth-child(8) {
            &:before {
                content: "8";
            }
        }

        &:nth-child(9) {
            &:before {
                content: "9";
            }
        }
    }
}

@media all and (min-width: 800px) {
    .checkout-bar li.active:after {
        animation: myanimation 3s 0s;
        @include green-stripe;
        @include inner-shadow;
        content: "";
        height: 15px;
        width: 100%;
        left: 50%;
        position: absolute;
        top: -50px;
        z-index: 0;
    }

    // .checkout-wrap {
    //     margin: 80px auto;
    //     // padding-top: 100px;
    // }

    ul.checkout-bar {
        @include inner-shadow;
        @include gray-stripe;

        border-radius: 15px;
        height: 15px;
        margin: 0 auto;
        padding: 10;
        position: absolute;
        width: 100%;
        top: 4px;

        &:before {
            // @include blue-stripe;
            @include inner-shadow;
            border-radius: 15px;
            content: " ";
            height: 15px;
            left: 0;
            position: absolute;
            width: 10%;
        }

        li {
            display: inline-block;
            margin: 50px 0 0;
            padding: 0;
            text-align: center;
            width: 10%;

            &:before {
                height: 35px;
                left: 40%;
                line-height: 30px;
                position: absolute;
                top: -60px;
                width: 35px;
                z-index: 99;
                font-size: 10px;

            }

            &.visited {
                background: none;

                &:after {
                    @include blue-stripe;
                    @include inner-shadow;
                    content: "";
                    height: 15px;
                    left: 50%;
                    position: absolute;
                    top: -50px;
                    width: 100%;
                    z-index: 99;
                }
            }
        }
    }
}



/*=============================================
=     Step Bar Progress Bar for Bootstrap.    =
=============================================*/

@keyframes active-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

// .container {
//     margin-top: 20px;

//     h2 {
//         text-align: center;
//     }

//     h4 {
//         color: #999;
//         text-align: center;
//     }

//     .stepbar-progress {
//         margin-top: 30px;
//     }
// }

.glyphicon {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    display: block;
}

td {
    text-align: center;
}

.stepbar-progress {
    width: 100%;
    height: 32px;
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;
    // display: flex;
    // justify-content: space-evenly;
    // align-items: center;

    .step-item {
        width: 32px;
        vertical-align: middle;

        .step-body {
            position: relative;
            display: block;
            width: 32px;
            height: 32px;
            background-color: $light_gray;
            border: 5px solid $light_gray;
            border-radius: 50%;
            // padding: 0px 0px 10px 0px;

            .glyphicon:before {
                color: white;
                margin: auto 4px 0 4px;
                line-height: 20px;
            }
        }
    }

    .step-item-progress {
        width: 100% / ($step-count - 1);
        height: 32px;
        // verticle-align: middle;
        vertical-align: middle;

        .progress-body {
            display: block;
            height: 11px;
            background-color: $light_gray;
            border-top: 3px solid $light_gray;
            border-bottom: 3px solid $light_gray;

            background-image: -webkit-linear-gradient(-45deg,
                    rgba(255, 255, 255, .3) 0%, transparent 5%,
                    rgba(255, 255, 255, .3) 10%, transparent 15%,
                    rgba(255, 255, 255, .3) 20%, transparent 25%,
                    rgba(255, 255, 255, .3) 30%, transparent 35%,
                    rgba(255, 255, 255, .3) 40%, transparent 45%,
                    rgba(255, 255, 255, .3) 50%, transparent 55%,
                    rgba(255, 255, 255, .3) 60%, transparent 65%,
                    rgba(255, 255, 255, .3) 70%, transparent 75%,
                    rgba(255, 255, 255, .3) 80%, transparent 85%,
                    rgba(255, 255, 255, .3) 90%, transparent 95%,
                    rgba(255, 255, 255, .3) 100%);

            background-image: -moz-linear-gradient(-45deg,
                    rgba(255, 255, 255, .3) 0%, transparent 5%,
                    rgba(255, 255, 255, .3) 10%, transparent 15%,
                    rgba(255, 255, 255, .3) 20%, transparent 25%,
                    rgba(255, 255, 255, .3) 30%, transparent 35%,
                    rgba(255, 255, 255, .3) 40%, transparent 45%,
                    rgba(255, 255, 255, .3) 50%, transparent 55%,
                    rgba(255, 255, 255, .3) 60%, transparent 65%,
                    rgba(255, 255, 255, .3) 70%, transparent 75%,
                    rgba(255, 255, 255, .3) 80%, transparent 85%,
                    rgba(255, 255, 255, .3) 90%, transparent 95%,
                    rgba(255, 255, 255, .3) 100%);

            background-image: -ms-linear-gradient(-45deg,
                    rgba(255, 255, 255, .3) 0%, transparent 5%,
                    rgba(255, 255, 255, .3) 10%, transparent 15%,
                    rgba(255, 255, 255, .3) 20%, transparent 25%,
                    rgba(255, 255, 255, .3) 30%, transparent 35%,
                    rgba(255, 255, 255, .3) 40%, transparent 45%,
                    rgba(255, 255, 255, .3) 50%, transparent 55%,
                    rgba(255, 255, 255, .3) 60%, transparent 65%,
                    rgba(255, 255, 255, .3) 70%, transparent 75%,
                    rgba(255, 255, 255, .3) 80%, transparent 85%,
                    rgba(255, 255, 255, .3) 90%, transparent 95%,
                    rgba(255, 255, 255, .3) 100%);

            background-image: -o-linear-gradient(-45deg,
                    rgba(255, 255, 255, .3) 0%, transparent 5%,
                    rgba(255, 255, 255, .3) 10%, transparent 15%,
                    rgba(255, 255, 255, .3) 20%, transparent 25%,
                    rgba(255, 255, 255, .3) 30%, transparent 35%,
                    rgba(255, 255, 255, .3) 40%, transparent 45%,
                    rgba(255, 255, 255, .3) 50%, transparent 55%,
                    rgba(255, 255, 255, .3) 60%, transparent 65%,
                    rgba(255, 255, 255, .3) 70%, transparent 75%,
                    rgba(255, 255, 255, .3) 80%, transparent 85%,
                    rgba(255, 255, 255, .3) 90%, transparent 95%,
                    rgba(255, 255, 255, .3) 100%);

            background-image: linear-gradient(-45deg,
                    rgba(255, 255, 255, .3) 0%, transparent 5%,
                    rgba(255, 255, 255, .3) 10%, transparent 15%,
                    rgba(255, 255, 255, .3) 20%, transparent 25%,
                    rgba(255, 255, 255, .3) 30%, transparent 35%,
                    rgba(255, 255, 255, .3) 40%, transparent 45%,
                    rgba(255, 255, 255, .3) 50%, transparent 55%,
                    rgba(255, 255, 255, .3) 60%, transparent 65%,
                    rgba(255, 255, 255, .3) 70%, transparent 75%,
                    rgba(255, 255, 255, .3) 80%, transparent 85%,
                    rgba(255, 255, 255, .3) 90%, transparent 95%,
                    rgba(255, 255, 255, .3) 100%);

            transition: all 1s ease;

            .body-fill {
                width: 20px;
                height: 5px;
                background-color: #1AB394;
            }
        }
    }

    .step-item-first .step-body:after,
    .step-item-middle .step-body:after,
    .step-item-middle .step-body:before,
    .step-item-last .step-body:before {
        content: "";
        position: absolute;
        top: calc(50% - 6px);
        height: 11px;
        width: 6px;
        background-color: $light_gray;
        border-top: 3px solid $light_gray;
        border-bottom: 3px solid $light_gray;
    }

    .step-item-first,
    .step-item-middle {
        .step-body:after {
            left: 100%;
        }
    }

    .step-item-middle,
    .step-item-last {
        .step-body:before {
            right: 100%;
        }
    }
}

.stepbar-progress {

    /* Individual Steps */
    @each $state in $step-states {
        $animate-glyphicon: $state=="active";
        $state-pass-glyph: map-get($state-to-glyph, "pass");
        $current-state-color: map-get($state-to-color, $state);
        $current-state-glyph: map-get($state-to-glyph, $state);

        // Upto step 1
        &[data-current-step="1"][data-step-status="#{$state}"] {
            @include step-status('1', $current-state-color, $current-state-glyph, $animate-glyphicon, true);
        }

        // Upto step 2
        &[data-current-step="2"][data-step-status="#{$state}"] {
            @include step-status('1', $current-state-color, $state-pass-glyph);
            @include step-status('2', $current-state-color, $current-state-glyph, $animate-glyphicon, true);
            @include fill-step-progress('1', '2', $current-state-color);
        }

        // Upto step 3
        &[data-current-step="3"][data-step-status="#{$state}"] {
            @include step-status('1', $current-state-color, $state-pass-glyph);
            @include step-status('2', $current-state-color, $state-pass-glyph);
            @include step-status('3', $current-state-color, $current-state-glyph, $animate-glyphicon, true);
            @include fill-step-progress('1', '2', $current-state-color);
            @include fill-step-progress('2', '3', $current-state-color);
        }

        &[data-current-step="4"][data-step-status="#{$state}"] {
            @include step-status('1', $current-state-color, $state-pass-glyph);
            @include step-status('2', $current-state-color, $state-pass-glyph);
            @include step-status('3', $current-state-color, $state-pass-glyph);
            @include step-status('4', $current-state-color, $current-state-glyph, $animate-glyphicon, true);
            @include fill-step-progress('1', '2', $current-state-color);
            @include fill-step-progress('2', '3', $current-state-color);
            @include fill-step-progress('3', '4', $current-state-color);
        }

        &[data-current-step="5"][data-step-status="#{$state}"] {
            @include step-status('1', $current-state-color, $state-pass-glyph);
            @include step-status('2', $current-state-color, $state-pass-glyph);
            @include step-status('3', $current-state-color, $state-pass-glyph);
            @include step-status('4', $current-state-color, $state-pass-glyph);
            @include step-status('5', $current-state-color, $current-state-glyph, $animate-glyphicon, true);
            @include fill-step-progress('1', '2', $current-state-color);
            @include fill-step-progress('2', '3', $current-state-color);
            @include fill-step-progress('3', '4', $current-state-color);
            @include fill-step-progress('4', '5', $current-state-color);
        }

        &[data-current-step="6"][data-step-status="#{$state}"] {
            @include step-status('1', $current-state-color, $state-pass-glyph);
            @include step-status('2', $current-state-color, $state-pass-glyph);
            @include step-status('3', $current-state-color, $state-pass-glyph);
            @include step-status('4', $current-state-color, $state-pass-glyph);
            @include step-status('5', $current-state-color, $state-pass-glyph);
            @include step-status('6', $current-state-color, $current-state-glyph, $animate-glyphicon, true);
            @include fill-step-progress('1', '2', $current-state-color);
            @include fill-step-progress('2', '3', $current-state-color);
            @include fill-step-progress('3', '4', $current-state-color);
            @include fill-step-progress('4', '5', $current-state-color);
            @include fill-step-progress('5', '6', $current-state-color);
        }

        &[data-current-step="7"][data-step-status="#{$state}"] {
            @include step-status('1', $current-state-color, $state-pass-glyph);
            @include step-status('2', $current-state-color, $state-pass-glyph);
            @include step-status('3', $current-state-color, $state-pass-glyph);
            @include step-status('4', $current-state-color, $state-pass-glyph);
            @include step-status('5', $current-state-color, $state-pass-glyph);
            @include step-status('6', $current-state-color, $state-pass-glyph);
            @include step-status('7', $current-state-color, $current-state-glyph, $animate-glyphicon, true);
            @include fill-step-progress('1', '2', $current-state-color);
            @include fill-step-progress('2', '3', $current-state-color);
            @include fill-step-progress('3', '4', $current-state-color);
            @include fill-step-progress('4', '5', $current-state-color);
            @include fill-step-progress('5', '6', $current-state-color);
            @include fill-step-progress('6', '7', $current-state-color);
        }

        &[data-current-step="8"][data-step-status="#{$state}"] {
            @include step-status('1', $current-state-color, $state-pass-glyph);
            @include step-status('2', $current-state-color, $state-pass-glyph);
            @include step-status('3', $current-state-color, $state-pass-glyph);
            @include step-status('4', $current-state-color, $state-pass-glyph);
            @include step-status('5', $current-state-color, $state-pass-glyph);
            @include step-status('6', $current-state-color, $state-pass-glyph);
            @include step-status('7', $current-state-color, $state-pass-glyph);
            @include step-status('8', $current-state-color, $current-state-glyph, $animate-glyphicon, true);
            @include fill-step-progress('1', '2', $current-state-color);
            @include fill-step-progress('2', '3', $current-state-color);
            @include fill-step-progress('3', '4', $current-state-color);
            @include fill-step-progress('4', '5', $current-state-color);
            @include fill-step-progress('5', '6', $current-state-color);
            @include fill-step-progress('6', '7', $current-state-color);
            @include fill-step-progress('7', '8', $current-state-color);
        }

        &[data-current-step="9"][data-step-status="#{$state}"] {
            @include step-status('1', $current-state-color, $state-pass-glyph);
            @include step-status('2', $current-state-color, $state-pass-glyph);
            @include step-status('3', $current-state-color, $state-pass-glyph);
            @include step-status('4', $current-state-color, $state-pass-glyph);
            @include step-status('5', $current-state-color, $state-pass-glyph);
            @include step-status('6', $current-state-color, $state-pass-glyph);
            @include step-status('7', $current-state-color, $state-pass-glyph);
            @include step-status('8', $current-state-color, $state-pass-glyph);
            @include step-status('9', $current-state-color, $current-state-glyph, $animate-glyphicon, true);
            @include fill-step-progress('1', '2', $current-state-color);
            @include fill-step-progress('2', '3', $current-state-color);
            @include fill-step-progress('3', '4', $current-state-color);
            @include fill-step-progress('4', '5', $current-state-color);
            @include fill-step-progress('5', '6', $current-state-color);
            @include fill-step-progress('6', '7', $current-state-color);
            @include fill-step-progress('7', '8', $current-state-color);
            @include fill-step-progress('8', '9', $current-state-color);
        }
    }
}